In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\SAMEER\OneDrive\Desktop\Data Science 6pm\March\29th\spark1.csv')

In [3]:
df

       Name  Age
0  Mohammad   21
1    Sameer   22
2   Hussain   23
3    Hashmi   24

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
import pyspark

In [6]:
import findspark
findspark.init()
findspark.find()

'C:\\spark-3.3.2-bin-hadoop3'

In [7]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [8]:
spark

In [9]:
authors =  spark.read.csv(r'C:\Users\SAMEER\OneDrive\Desktop\Data Science 6pm\March\29th\spark1.csv')

In [10]:
df

       Name  Age
0  Mohammad   21
1    Sameer   22
2   Hussain   23
3    Hashmi   24

In [11]:
authors

DataFrame[_c0: string, _c1: string]

In [12]:
authors.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|    Name|Age|
|Mohammad| 21|
|  Sameer| 22|
| Hussain| 23|
|  Hashmi| 24|
+--------+---+

In [13]:
authors = spark.read.option('header','true').csv(r'C:\Users\SAMEER\OneDrive\Desktop\Data Science 6pm\March\29th\spark1.csv')

In [14]:
authors.show()

+--------+---+
|    Name|Age|
+--------+---+
|Mohammad| 21|
|  Sameer| 22|
| Hussain| 23|
|  Hashmi| 24|
+--------+---+

In [15]:
type(authors)

pyspark.sql.dataframe.DataFrame

In [16]:
type(df)

pandas.core.frame.DataFrame

In [17]:
authors.show()

+--------+---+
|    Name|Age|
+--------+---+
|Mohammad| 21|
|  Sameer| 22|
| Hussain| 23|
|  Hashmi| 24|
+--------+---+

In [18]:
authors.head(3)

[Row(Name='Mohammad', Age='21'),
 Row(Name='Sameer', Age='22'),
 Row(Name='Hussain', Age='23')]

In [19]:
authors.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)