In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
spark

In [12]:
df_pyspark = spark.read.option('header','true').csv(r'C:\Users\SAMEER\OneDrive\Desktop\Data Science 6pm\March\28th - pyspark project\sample.csv',header=True,inferSchema=True)

In [13]:
df_pyspark.show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| John| 38|         9| 35000|
|Roman| 37|         7| 30000|
| Rock| 40|        10| 40000|
|orton| 37|         8| 33000|
| Seth| 30|         5| 26000|
| Dean| 29|         4| 25000|
+-----+---+----------+------+

In [14]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [15]:
df_pyspark = spark.read.csv(r'C:\Users\SAMEER\OneDrive\Desktop\Data Science 6pm\March\28th - pyspark project\sample.csv',header=True,inferSchema=True)

In [16]:
df_pyspark.show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| John| 38|         9| 35000|
|Roman| 37|         7| 30000|
| Rock| 40|        10| 40000|
|orton| 37|         8| 33000|
| Seth| 30|         5| 26000|
| Dean| 29|         4| 25000|
+-----+---+----------+------+

In [17]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [18]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [11]:
df_pyspark.head(3)

[Row(Name='John', Age=38, Experience=9, Salary=35000),
 Row(Name='Roman', Age=37, Experience=7, Salary=30000),
 Row(Name='Rock', Age=40, Experience=10, Salary=40000)]

In [12]:
df_pyspark.head(4)

[Row(Name='John', Age=38, Experience=9, Salary=35000),
 Row(Name='Roman', Age=37, Experience=7, Salary=30000),
 Row(Name='Rock', Age=40, Experience=10, Salary=40000),
 Row(Name='orton', Age=37, Experience=8, Salary=33000)]

In [5]:
df_pyspark.columns

['Name', 'Age', 'Experience', 'Salary']

In [6]:
df_pyspark['Name']

Column<'Name'>

In [7]:
df_pyspark.select(['Name'])

DataFrame[Name: string]

In [8]:
df_pyspark.select(['Name']).show()

+-----+
| Name|
+-----+
| John|
|Roman|
| Rock|
|orton|
| Seth|
| Dean|
+-----+

In [19]:
df_pyspark.select(['Name','Experience']).show()

+-----+----------+
| Name|Experience|
+-----+----------+
| John|         9|
|Roman|         7|
| Rock|        10|
|orton|         8|
| Seth|         5|
| Dean|         4|
+-----+----------+

In [20]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [21]:
df_pyspark.show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| John| 38|         9| 35000|
|Roman| 37|         7| 30000|
| Rock| 40|        10| 40000|
|orton| 37|         8| 33000|
| Seth| 30|         5| 26000|
| Dean| 29|         4| 25000|
+-----+---+----------+------+

In [22]:
df_pyspark.describe().show()

+-------+-----+------------------+------------------+-----------------+
|summary| Name|               Age|        Experience|           Salary|
+-------+-----+------------------+------------------+-----------------+
|  count|    6|                 6|                 6|                6|
|   mean| null|35.166666666666664| 7.166666666666667|          31500.0|
| stddev| null| 4.535048695071164|2.3166067138525404|5683.308895353129|
|    min| Dean|                29|                 4|            25000|
|    max|orton|                40|                10|            40000|
+-------+-----+------------------+------------------+-----------------+

In [24]:
df_pyspark = df_pyspark.withColumn('Sr.experience',df_pyspark['Experience']+2)  # ADD COLUMNS

In [25]:
df_pyspark.show()

+-----+---+----------+------+-------------+
| Name|Age|Experience|Salary|Sr.experience|
+-----+---+----------+------+-------------+
| John| 38|         9| 35000|           11|
|Roman| 37|         7| 30000|            9|
| Rock| 40|        10| 40000|           12|
|orton| 37|         8| 33000|           10|
| Seth| 30|         5| 26000|            7|
| Dean| 29|         4| 25000|            6|
+-----+---+----------+------+-------------+

In [23]:
df_pyspark = df_pyspark.drop('Sr.experience')

In [24]:
df_pyspark.show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| John| 38|         9| 35000|
|Roman| 37|         7| 30000|
| Rock| 40|        10| 40000|
|orton| 37|         8| 33000|
| Seth| 30|         5| 26000|
| Dean| 29|         4| 25000|
+-----+---+----------+------+

In [26]:
#RENAME THE COLUMN
df_pyspark = df_pyspark.withColumnRenamed('Name','Name1').show()

+-----+---+----------+------+-------------+
|Name1|Age|Experience|Salary|Sr.experience|
+-----+---+----------+------+-------------+
| John| 38|         9| 35000|           11|
|Roman| 37|         7| 30000|            9|
| Rock| 40|        10| 40000|           12|
|orton| 37|         8| 33000|           10|
| Seth| 30|         5| 26000|            7|
| Dean| 29|         4| 25000|            6|
+-----+---+----------+------+-------------+

In [27]:
df_pyspark = df_pyspark.withColumnRenamed('Name1','Name').show()

AttributeError: 'NoneType' object has no attribute 'withColumnRenamed'