In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('missing').getOrCreate()

In [3]:
spark

In [4]:
df_pyspark = spark.read.csv(r'C:\Users\SAMEER\OneDrive\Desktop\Data Science 6pm\March\28th - pyspark project\sample1.csv',header=True,inferSchema=True)

In [5]:
df_pyspark.show()

+----------+----+----------+------+
|      Name| Age|Experience|Salary|
+----------+----+----------+------+
|      John|  38|         9| 35000|
|     Roman|  37|         7| 30000|
|      Rock|  40|        10| 40000|
|     orton|  37|         8| 33000|
|      Seth|  30|         5| 26000|
|      Dean|  29|         4| 25000|
|Undertaker|null|        13| 45000|
|      null|  41|        12| 50000|
|      Kane|null|      null| 45000|
|      null|  38|         9|  null|
|     Khali|  42|        10|  null|
+----------+----+----------+------+

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [7]:
df_pyspark.select(['Name']).show()

+----------+
|      Name|
+----------+
|      John|
|     Roman|
|      Rock|
|     orton|
|      Seth|
|      Dean|
|Undertaker|
|      null|
|      Kane|
|      null|
|     Khali|
+----------+

In [8]:
df_pyspark.na.drop().show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| John| 38|         9| 35000|
|Roman| 37|         7| 30000|
| Rock| 40|        10| 40000|
|orton| 37|         8| 33000|
| Seth| 30|         5| 26000|
| Dean| 29|         4| 25000|
+-----+---+----------+------+

In [9]:
df_pyspark.show()

+----------+----+----------+------+
|      Name| Age|Experience|Salary|
+----------+----+----------+------+
|      John|  38|         9| 35000|
|     Roman|  37|         7| 30000|
|      Rock|  40|        10| 40000|
|     orton|  37|         8| 33000|
|      Seth|  30|         5| 26000|
|      Dean|  29|         4| 25000|
|Undertaker|null|        13| 45000|
|      null|  41|        12| 50000|
|      Kane|null|      null| 45000|
|      null|  38|         9|  null|
|     Khali|  42|        10|  null|
+----------+----+----------+------+

In [10]:
df_pyspark.na.drop(how='any').show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| John| 38|         9| 35000|
|Roman| 37|         7| 30000|
| Rock| 40|        10| 40000|
|orton| 37|         8| 33000|
| Seth| 30|         5| 26000|
| Dean| 29|         4| 25000|
+-----+---+----------+------+

In [11]:
df_pyspark.na.drop(how='all').show()

+----------+----+----------+------+
|      Name| Age|Experience|Salary|
+----------+----+----------+------+
|      John|  38|         9| 35000|
|     Roman|  37|         7| 30000|
|      Rock|  40|        10| 40000|
|     orton|  37|         8| 33000|
|      Seth|  30|         5| 26000|
|      Dean|  29|         4| 25000|
|Undertaker|null|        13| 45000|
|      null|  41|        12| 50000|
|      Kane|null|      null| 45000|
|      null|  38|         9|  null|
|     Khali|  42|        10|  null|
+----------+----+----------+------+

In [12]:
df_pyspark.na.drop(how='any',subset=['Age']).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| John| 38|         9| 35000|
|Roman| 37|         7| 30000|
| Rock| 40|        10| 40000|
|orton| 37|         8| 33000|
| Seth| 30|         5| 26000|
| Dean| 29|         4| 25000|
| null| 41|        12| 50000|
| null| 38|         9|  null|
|Khali| 42|        10|  null|
+-----+---+----------+------+

In [13]:
df_pyspark.na.drop(how='any',subset=['Name','Age']).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| John| 38|         9| 35000|
|Roman| 37|         7| 30000|
| Rock| 40|        10| 40000|
|orton| 37|         8| 33000|
| Seth| 30|         5| 26000|
| Dean| 29|         4| 25000|
|Khali| 42|        10|  null|
+-----+---+----------+------+

In [15]:
df_pyspark.na.fill('Missing Values',['Experience','Age']).show()

+----------+----+----------+------+
|      Name| Age|Experience|Salary|
+----------+----+----------+------+
|      John|  38|         9| 35000|
|     Roman|  37|         7| 30000|
|      Rock|  40|        10| 40000|
|     orton|  37|         8| 33000|
|      Seth|  30|         5| 26000|
|      Dean|  29|         4| 25000|
|Undertaker|null|        13| 45000|
|      null|  41|        12| 50000|
|      Kane|null|      null| 45000|
|      null|  38|         9|  null|
|     Khali|  42|        10|  null|
+----------+----+----------+------+

In [17]:
from pyspark.ml.feature import Imputer
Imputer_mean = Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
).setStrategy("mean")

In [19]:
Imputer_mean.fit(df_pyspark).transform(df_pyspark).show()

+----------+----+----------+------+-----------+------------------+--------------+
|      Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+----------+----+----------+------+-----------+------------------+--------------+
|      John|  38|         9| 35000|         38|                 9|         35000|
|     Roman|  37|         7| 30000|         37|                 7|         30000|
|      Rock|  40|        10| 40000|         40|                10|         40000|
|     orton|  37|         8| 33000|         37|                 8|         33000|
|      Seth|  30|         5| 26000|         30|                 5|         26000|
|      Dean|  29|         4| 25000|         29|                 4|         25000|
|Undertaker|null|        13| 45000|         36|                13|         45000|
|      null|  41|        12| 50000|         41|                12|         50000|
|      Kane|null|      null| 45000|         36|                 8|         45000|
|      null|  38|         9|  null|         38|                 9|         36555|
|     Khali|  42|        10|  null|         42|                10|         36555|
+----------+----+----------+------+-----------+------------------+--------------+

In [20]:
Imputer_median = Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
).setStrategy("median")

In [21]:
Imputer_median.fit(df_pyspark).transform(df_pyspark).show()

+----------+----+----------+------+-----------+------------------+--------------+
|      Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+----------+----+----------+------+-----------+------------------+--------------+
|      John|  38|         9| 35000|         38|                 9|         35000|
|     Roman|  37|         7| 30000|         37|                 7|         30000|
|      Rock|  40|        10| 40000|         40|                10|         40000|
|     orton|  37|         8| 33000|         37|                 8|         33000|
|      Seth|  30|         5| 26000|         30|                 5|         26000|
|      Dean|  29|         4| 25000|         29|                 4|         25000|
|Undertaker|null|        13| 45000|         38|                13|         45000|
|      null|  41|        12| 50000|         41|                12|         50000|
|      Kane|null|      null| 45000|         38|                 9|         45000|
|      null|  38|         9|  null|         38|                 9|         35000|
|     Khali|  42|        10|  null|         42|                10|         35000|
+----------+----+----------+------+-----------+------------------+--------------+

In [25]:
Imputer_mode = Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
).setStrategy("mode")

In [26]:
Imputer_mode.fit(df_pyspark).transform(df_pyspark).show()

+----------+----+----------+------+-----------+------------------+--------------+
|      Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+----------+----+----------+------+-----------+------------------+--------------+
|      John|  38|         9| 35000|         38|                 9|         35000|
|     Roman|  37|         7| 30000|         37|                 7|         30000|
|      Rock|  40|        10| 40000|         40|                10|         40000|
|     orton|  37|         8| 33000|         37|                 8|         33000|
|      Seth|  30|         5| 26000|         30|                 5|         26000|
|      Dean|  29|         4| 25000|         29|                 4|         25000|
|Undertaker|null|        13| 45000|         37|                13|         45000|
|      null|  41|        12| 50000|         41|                12|         50000|
|      Kane|null|      null| 45000|         37|                 9|         45000|
|      null|  38|         9|  null|         38|                 9|         45000|
|     Khali|  42|        10|  null|         42|                10|         45000|
+----------+----+----------+------+-----------+------------------+--------------+