In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('missing').getOrCreate()

In [3]:
spark

In [4]:
df_pyspark = spark.read.csv(r'C:\Users\SAMEER\OneDrive\Desktop\Data Science 6pm\March\29th\sample2.csv',header=True,inferSchema=True)

In [5]:
df_pyspark.show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|  John| 38|         9| 35000|
| Roman| 37|         7| 30000|
|  Rock| 40|        10| 40000|
| orton| 37|         8| 33000|
|  Seth| 30|         5| 26000|
|  Dean| 29|         4| 25000|
|    AJ| 32|         8| 20000|
|Ryback| 30|         5| 19000|
+------+---+----------+------+

# Filter operations

In [13]:
df_pyspark.filter("Salary<=20000").show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|    AJ| 32|         8| 20000|
|Ryback| 30|         5| 19000|
+------+---+----------+------+

In [14]:
df_pyspark.filter("Salary>=20000").show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| John| 38|         9| 35000|
|Roman| 37|         7| 30000|
| Rock| 40|        10| 40000|
|orton| 37|         8| 33000|
| Seth| 30|         5| 26000|
| Dean| 29|         4| 25000|
|   AJ| 32|         8| 20000|
+-----+---+----------+------+

In [16]:
df_pyspark.filter("Salary<=20000").select(['Name','Age']).show()

+------+---+
|  Name|Age|
+------+---+
|    AJ| 32|
|Ryback| 30|
+------+---+

In [20]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|    AJ| 32|         8| 20000|
|Ryback| 30|         5| 19000|
+------+---+----------+------+

In [21]:
df_pyspark.filter(df_pyspark['Salary']==20000).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|  AJ| 32|         8| 20000|
+----+---+----------+------+

In [24]:
df_pyspark.filter((df_pyspark['Salary']<=20000) &
                  (df_pyspark['Salary']>=15000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|    AJ| 32|         8| 20000|
|Ryback| 30|         5| 19000|
+------+---+----------+------+

In [25]:
df_pyspark.filter((df_pyspark['Salary']<=20000) |
                  (df_pyspark['Salary']>=15000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|  John| 38|         9| 35000|
| Roman| 37|         7| 30000|
|  Rock| 40|        10| 40000|
| orton| 37|         8| 33000|
|  Seth| 30|         5| 26000|
|  Dean| 29|         4| 25000|
|    AJ| 32|         8| 20000|
|Ryback| 30|         5| 19000|
+------+---+----------+------+

In [26]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| John| 38|         9| 35000|
|Roman| 37|         7| 30000|
| Rock| 40|        10| 40000|
|orton| 37|         8| 33000|
| Seth| 30|         5| 26000|
| Dean| 29|         4| 25000|
+-----+---+----------+------+