In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [3]:
spark

In [5]:
df_pyspark = spark.read.csv(r'C:\Users\SAMEER\OneDrive\Desktop\Data Science 6pm\March\29th\sample4.csv',header=True,inferSchema=True)

In [6]:
df_pyspark.show()

+------+--------------+------+
|  Name|    Department|Salary|
+------+--------------+------+
|Sameer|Data scientist|100000|
| Roman|            ML| 50000|
|Sameer|            DL| 40000|
|Sameer|           NLP| 33000|
|  John|            ML| 26000|
|  Dean|           NLP| 25000|
|  John|Data scientist| 70000|
|Sameer|            ML| 20000|
| Roman|            ML| 15000|
|  John|            DL|  2000|
| Virat|            ML|  5000|
+------+--------------+------+

In [7]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [8]:
df_pyspark.groupBy('Name')

In [9]:
df_pyspark.groupBy('Name').sum()

DataFrame[Name: string, sum(Salary): bigint]

In [10]:
df_pyspark.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(Salary)|
+------+-----------+
|  Dean|      25000|
|Sameer|     193000|
|  John|      98000|
| Roman|      65000|
| Virat|       5000|
+------+-----------+

In [11]:
df_pyspark.groupBy('Name').avg().show()

+------+------------------+
|  Name|       avg(Salary)|
+------+------------------+
|  Dean|           25000.0|
|Sameer|           48250.0|
|  John|32666.666666666668|
| Roman|           32500.0|
| Virat|            5000.0|
+------+------------------+

In [12]:
df_pyspark.show()

+------+--------------+------+
|  Name|    Department|Salary|
+------+--------------+------+
|Sameer|Data scientist|100000|
| Roman|            ML| 50000|
|Sameer|            DL| 40000|
|Sameer|           NLP| 33000|
|  John|            ML| 26000|
|  Dean|           NLP| 25000|
|  John|Data scientist| 70000|
|Sameer|            ML| 20000|
| Roman|            ML| 15000|
|  John|            DL|  2000|
| Virat|            ML|  5000|
+------+--------------+------+

In [14]:
df_pyspark.groupBy('Department').sum().show()

+--------------+-----------+
|    Department|sum(Salary)|
+--------------+-----------+
|            DL|      42000|
|           NLP|      58000|
|            ML|     116000|
|Data scientist|     170000|
+--------------+-----------+

In [15]:
df_pyspark.groupBy('Department').mean().show()

+--------------+-----------+
|    Department|avg(Salary)|
+--------------+-----------+
|            DL|    21000.0|
|           NLP|    29000.0|
|            ML|    23200.0|
|Data scientist|    85000.0|
+--------------+-----------+

In [16]:
df_pyspark.groupBy('Department').min().show()

+--------------+-----------+
|    Department|min(Salary)|
+--------------+-----------+
|            DL|       2000|
|           NLP|      25000|
|            ML|       5000|
|Data scientist|      70000|
+--------------+-----------+

In [17]:
df_pyspark.groupBy('Department').max().show()

+--------------+-----------+
|    Department|max(Salary)|
+--------------+-----------+
|            DL|      40000|
|           NLP|      33000|
|            ML|      50000|
|Data scientist|     100000|
+--------------+-----------+

In [18]:
df_pyspark.groupBy('Department').count().show()

+--------------+-----+
|    Department|count|
+--------------+-----+
|            DL|    2|
|           NLP|    2|
|            ML|    5|
|Data scientist|    2|
+--------------+-----+

In [19]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     386000|
+-----------+