### Pyspark Dataframe
* Filter Operations
* & | ==
* `

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
spark

In [4]:
# Read the dataset
df_pyspark=spark.read.option('header','true').csv(r'C:\Users\SAMEER\OneDrive\Desktop\Data Science 6pm\Spark\sample.csv', inferSchema=True)

In [5]:
df_pyspark.show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| John| 38|         9| 35000|
|Roman| 37|         7| 30000|
| Rock| 40|        10| 40000|
|orton| 37|         8| 33000|
| Seth| 30|         5| 26000|
| Dean| 29|         4| 25000|
+-----+---+----------+------+

## Filter Operations

In [6]:
# Salary of the people less than or equal to 30000
df_pyspark.filter("Salary<=30000").show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Roman| 37|         7| 30000|
| Seth| 30|         5| 26000|
| Dean| 29|         4| 25000|
+-----+---+----------+------+

In [7]:
df_pyspark.filter("Salary<=30000").select(['Name','Age']).show()

+-----+---+
| Name|Age|
+-----+---+
|Roman| 37|
| Seth| 30|
| Dean| 29|
+-----+---+

In [8]:
df_pyspark.filter(df_pyspark['Salary']<=30000).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Roman| 37|         7| 30000|
| Seth| 30|         5| 26000|
| Dean| 29|         4| 25000|
+-----+---+----------+------+

In [11]:
df_pyspark.filter((df_pyspark['Salary']<=38000) & 
                  (df_pyspark['Salary']>=28000)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| John| 38|         9| 35000|
|Roman| 37|         7| 30000|
|orton| 37|         8| 33000|
+-----+---+----------+------+

In [12]:
df_pyspark.filter((df_pyspark['Salary']<=38000) |
                  (df_pyspark['Salary']>=28000)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| John| 38|         9| 35000|
|Roman| 37|         7| 30000|
| Rock| 40|        10| 40000|
|orton| 37|         8| 33000|
| Seth| 30|         5| 26000|
| Dean| 29|         4| 25000|
+-----+---+----------+------+

In [13]:
df_pyspark.filter(~(df_pyspark['Salary']<=30000)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| John| 38|         9| 35000|
| Rock| 40|        10| 40000|
|orton| 37|         8| 33000|
+-----+---+----------+------+

In [14]:
df_pyspark.filter(~(df_pyspark['Salary']<=25000)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| John| 38|         9| 35000|
|Roman| 37|         7| 30000|
| Rock| 40|        10| 40000|
|orton| 37|         8| 33000|
| Seth| 30|         5| 26000|
+-----+---+----------+------+