## Pyspark GroupBy and Aggregate Functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [3]:
spark

In [4]:
# Read the dataset
df_pyspark=spark.read.option('header','true').csv(r'C:\Users\SAMEER\OneDrive\Desktop\Data Science 6pm\Spark\sample3.csv', inferSchema=True)

In [5]:
df_pyspark.show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
| Sameer|Data science| 50000|
| Sameer|         IOT| 30000|
|   Mohd|          ML| 40000|
|   Mohd|         IOT| 33000|
| Hashmi|          DL| 26000|
|Hussain|    Big Data| 20000|
|Hussain|Data science| 45000|
|Hussain|          DL| 25000|
| Sameer|          ML| 35000|
| Hashmi|         NLP| 38000|
+-------+------------+------+

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [7]:
# GroupBy
# Grouped to find the maximum salary
df_pyspark.groupBy('Name').sum().show()

+-------+-----------+
|   Name|sum(Salary)|
+-------+-----------+
|Hussain|      90000|
| Hashmi|      64000|
| Sameer|     115000|
|   Mohd|      73000|
+-------+-----------+

In [8]:
# GroupBy Department which gives maximum salary
df_pyspark.groupBy('Department').sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|      63000|
|          DL|      51000|
|         NLP|      38000|
|Data science|      95000|
|    Big Data|      20000|
|          ML|      75000|
+------------+-----------+

In [9]:
df_pyspark.groupBy('Department').mean().show()

+------------+-----------+
|  Department|avg(Salary)|
+------------+-----------+
|         IOT|    31500.0|
|          DL|    25500.0|
|         NLP|    38000.0|
|Data science|    47500.0|
|    Big Data|    20000.0|
|          ML|    37500.0|
+------------+-----------+

In [10]:
df_pyspark.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    2|
|          DL|    2|
|         NLP|    1|
|Data science|    2|
|    Big Data|    1|
|          ML|    2|
+------------+-----+

In [11]:
df_pyspark.groupBy('Name').count().show()

+-------+-----+
|   Name|count|
+-------+-----+
|Hussain|    3|
| Hashmi|    2|
| Sameer|    3|
|   Mohd|    2|
+-------+-----+

In [12]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     342000|
+-----------+

In [16]:
df_pyspark.groupBy('Name').max().show()

+-------+-----------+
|   Name|max(Salary)|
+-------+-----------+
|Hussain|      45000|
| Hashmi|      38000|
| Sameer|      50000|
|   Mohd|      40000|
+-------+-----------+

In [17]:
df_pyspark.groupBy('Name').min().show()

+-------+-----------+
|   Name|min(Salary)|
+-------+-----------+
|Hussain|      20000|
| Hashmi|      26000|
| Sameer|      30000|
|   Mohd|      33000|
+-------+-----------+

In [19]:
df_pyspark.groupBy('Name').avg().show()

+-------+------------------+
|   Name|       avg(Salary)|
+-------+------------------+
|Hussain|           30000.0|
| Hashmi|           32000.0|
| Sameer|38333.333333333336|
|   Mohd|           36500.0|
+-------+------------------+