## Handlind missing values by Mean, Median and Moad

In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [2]:
spark

In [3]:
# Read the dataset
df_pyspark=df_pyspark=spark.read.option('header','true').csv(r'C:\Users\SAMEER\OneDrive\Desktop\Data Science 6pm\Spark\sample2.csv', inferSchema=True)

In [4]:
df_pyspark.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
| John|  38|         9| 35000|
|Roman|  37|      null| 30000|
| Rock|  40|        10| 40000|
|orton|null|         8| 33000|
| Seth|  30|         5| 26000|
| Dean|  29|         4| 25000|
+-----+----+----------+------+

In [7]:
# Droping the Columns
df_pyspark.drop('Name').show()

# Here i didnt saved remember

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  38|         9| 35000|
|  37|      null| 30000|
|  40|        10| 40000|
|null|         8| 33000|
|  30|         5| 26000|
|  29|         4| 25000|
+----+----------+------+

In [8]:
df_pyspark.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
| John|  38|         9| 35000|
|Roman|  37|      null| 30000|
| Rock|  40|        10| 40000|
|orton|null|         8| 33000|
| Seth|  30|         5| 26000|
| Dean|  29|         4| 25000|
+-----+----+----------+------+

In [10]:
df_pyspark.na.drop().show()    # Drop Null values Rows

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|John| 38|         9| 35000|
|Rock| 40|        10| 40000|
|Seth| 30|         5| 26000|
|Dean| 29|         4| 25000|
+----+---+----------+------+

In [17]:
# Filling the missing values
df_pyspark.na.fill('missing values',['Experience','Age']).show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
| John|  38|         9| 35000|
|Roman|  37|      null| 30000|
| Rock|  40|        10| 40000|
|orton|null|         8| 33000|
| Seth|  30|         5| 26000|
| Dean|  29|         4| 25000|
+-----+----+----------+------+

In [18]:
df_pyspark

DataFrame[Name: string, Age: int, Experience: int, Salary: int]

In [19]:
df_pyspark.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
| John|  38|         9| 35000|
|Roman|  37|      null| 30000|
| Rock|  40|        10| 40000|
|orton|null|         8| 33000|
| Seth|  30|         5| 26000|
| Dean|  29|         4| 25000|
+-----+----+----------+------+

In [22]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
    ).setStrategy("mean")

In [23]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-----+----+----------+------+-----------+------------------+--------------+
| Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-----+----+----------+------+-----------+------------------+--------------+
| John|  38|         9| 35000|         38|                 9|         35000|
|Roman|  37|      null| 30000|         37|                 7|         30000|
| Rock|  40|        10| 40000|         40|                10|         40000|
|orton|null|         8| 33000|         34|                 8|         33000|
| Seth|  30|         5| 26000|         30|                 5|         26000|
| Dean|  29|         4| 25000|         29|                 4|         25000|
+-----+----+----------+------+-----------+------------------+--------------+

In [24]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
    ).setStrategy("median")

In [25]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-----+----+----------+------+-----------+------------------+--------------+
| Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-----+----+----------+------+-----------+------------------+--------------+
| John|  38|         9| 35000|         38|                 9|         35000|
|Roman|  37|      null| 30000|         37|                 8|         30000|
| Rock|  40|        10| 40000|         40|                10|         40000|
|orton|null|         8| 33000|         37|                 8|         33000|
| Seth|  30|         5| 26000|         30|                 5|         26000|
| Dean|  29|         4| 25000|         29|                 4|         25000|
+-----+----+----------+------+-----------+------------------+--------------+