In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
spark

In [15]:
# Read the dataset
df_pyspark=spark.read.option('header','true').csv(r'C:\Users\SAMEER\OneDrive\Desktop\Data Science 6pm\Spark\sample.csv', inferSchema=True)

In [16]:
# Check the Schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [14]:
df_pyspark.show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| John| 38|         9| 35000|
|Roman| 37|         7| 30000|
| Rock| 40|        10| 40000|
|orton| 37|         8| 33000|
| Seth| 30|         5| 26000|
| Dean| 29|         4| 25000|
+-----+---+----------+------+

In [17]:
df_pyspark=spark.read.csv(r'C:\Users\SAMEER\OneDrive\Desktop\Data Science 6pm\Spark\sample.csv', header=True, inferSchema=True)
df_pyspark.show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| John| 38|         9| 35000|
|Roman| 37|         7| 30000|
| Rock| 40|        10| 40000|
|orton| 37|         8| 33000|
| Seth| 30|         5| 26000|
| Dean| 29|         4| 25000|
+-----+---+----------+------+

In [18]:
# Check the Schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [19]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [20]:
df_pyspark.columns

['Name', 'Age', 'Experience', 'Salary']

In [23]:
df_pyspark.head()

Row(Name='John', Age=38, Experience=9, Salary=35000)

In [24]:
df_pyspark.head(3)

[Row(Name='John', Age=38, Experience=9, Salary=35000),
 Row(Name='Roman', Age=37, Experience=7, Salary=30000),
 Row(Name='Rock', Age=40, Experience=10, Salary=40000)]

In [28]:
df_pyspark.show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| John| 38|         9| 35000|
|Roman| 37|         7| 30000|
| Rock| 40|        10| 40000|
|orton| 37|         8| 33000|
| Seth| 30|         5| 26000|
| Dean| 29|         4| 25000|
+-----+---+----------+------+

In [32]:
# Pickup only One column
df_pyspark.select('Name').show()

+-----+
| Name|
+-----+
| John|
|Roman|
| Rock|
|orton|
| Seth|
| Dean|
+-----+

In [34]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [35]:
# Pickup Two columns
df_pyspark.select('Name','Age').show()

+-----+---+
| Name|Age|
+-----+---+
| John| 38|
|Roman| 37|
| Rock| 40|
|orton| 37|
| Seth| 30|
| Dean| 29|
+-----+---+

In [36]:
type(df_pyspark.select('Name','Age'))

pyspark.sql.dataframe.DataFrame

In [37]:
df_pyspark['Name']

Column<'Name'>

In [39]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [47]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string, Salary: string]

In [48]:
df_pyspark.describe().show()

+-------+-----+------------------+------------------+-----------------+
|summary| Name|               Age|        Experience|           Salary|
+-------+-----+------------------+------------------+-----------------+
|  count|    6|                 6|                 6|                6|
|   mean| null|35.166666666666664| 7.166666666666667|          31500.0|
| stddev| null| 4.535048695071164|2.3166067138525404|5683.308895353129|
|    min| Dean|                29|                 4|            25000|
|    max|orton|                40|                10|            40000|
+-------+-----+------------------+------------------+-----------------+

In [50]:
# Adding Columns in Dataframes [in Pyspark]
df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience']+2)

DataFrame[Name: string, Age: int, Experience: int, Salary: int, Experience After 2 years: int]

In [52]:
# For Complete Dataset
df_pyspark=df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience']+2)

In [54]:
df_pyspark.show()

+-----+---+----------+------+------------------------+
| Name|Age|Experience|Salary|Experience After 2 years|
+-----+---+----------+------+------------------------+
| John| 38|         9| 35000|                      11|
|Roman| 37|         7| 30000|                       9|
| Rock| 40|        10| 40000|                      12|
|orton| 37|         8| 33000|                      10|
| Seth| 30|         5| 26000|                       7|
| Dean| 29|         4| 25000|                       6|
+-----+---+----------+------+------------------------+

In [56]:
# Droping the Columns
df_pyspark=df_pyspark.drop('Experience After 2 years')

In [58]:
df_pyspark.show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| John| 38|         9| 35000|
|Roman| 37|         7| 30000|
| Rock| 40|        10| 40000|
|orton| 37|         8| 33000|
| Seth| 30|         5| 26000|
| Dean| 29|         4| 25000|
+-----+---+----------+------+

In [60]:
# Renaming Columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+------+
|New Name|Age|Experience|Salary|
+--------+---+----------+------+
|    John| 38|         9| 35000|
|   Roman| 37|         7| 30000|
|    Rock| 40|        10| 40000|
|   orton| 37|         8| 33000|
|    Seth| 30|         5| 26000|
|    Dean| 29|         4| 25000|
+--------+---+----------+------+